*~
.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local
.pnp.js
[#]*[#]
__pycache__/
client/.pnp
client/build
client/coverage
client/node_modules
npm-debug.log*
server/.venv
server/db.sqlite3
yarn-debug.log*
yarn-error.log*
